<h1>Listing contestants</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contestants.each do |contestant| %>
  <tr>
    <td><%= contestant.first_name %></td>
    <td><%= contestant.last_name %></td>
    <td><%= number_with_precision(contestant.score, :precision => 2) %></td>
    <td><%= link_to 'Show', contestant %></td>
    <td><%= link_to 'Edit', edit_contestant_path(contestant) %></td>
    <td><%= link_to 'Destroy', contestant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contestant', new_contestant_path %>
