<h1>Contestant Entries By Date</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Contestant</th>
    <th>Votes</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @contestant_entries.each do |contestant_entry| %>
  <tr>
    <td><%= contestant_entry.date %></td>
    <td><%= contestant_entry.contestant.full_name %></td>
    <td><%= contestant_entry.votes.count %></td>
    <td><%= image_tag contestant_entry.photo.url(:thumb) %></td>
    <td><%= link_to 'Show', contestant_entry %></td>
    <td><%= link_to 'Edit', edit_contestant_entry_path(contestant_entry) %></td>
    <td><%= link_to 'Destroy', contestant_entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Contestant Entry', new_contestant_entry_path %>